body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    touch-action: none;
}

body {
    font-family: "Noto Sans JP", serif;
    font-size: 16px;
    font-weight: 400;
    background: black;
    color: white;
}

main {
    position: absolute;
    inset: 0;
    background: pink;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background: yellow;
}