body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
}

body {
    font-family: "Reggae One", serif;
    font-size: 16px;
    line-height: 1.0;
    font-weight: 400;
    background: black;
    -webkit-tap-highlight-color: transparent;
}

.button {
    position: relative;
    appearance: none;
    box-sizing: border-box;
    width: 220px;
    height: 48px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(127, 127, 127, 1);
    padding: 0 0 1px 0;
    background: radial-gradient(circle farthest-side at 50% 100px, #30c7ec 0%, #1F5EFF 100%);
    color: white;
    text-shadow: 0 2px 3px black;
    font-family: inherit;
    font-size: 20px;
    touch-action: manipulation;
    cursor: pointer;

    &:active {
        transform: translateY(3px);
        filter: brightness(1.5);
    }

    &:focus {
        outline: 0;
    }

    &.clear-badge {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 9px;
            width: 9px;
            height: 17px;
            background: url("./badge.png");
            background-repeat: none;
            transform: scale(2);
            transform-origin: 50% 0;
            image-rendering: pixelated;
            filter: drop-shadow(0 0 2px white);
            will-change: filter; // iPhoneでdrop-shadowが掛けるのを回避
        }
    }

    &.locked {
        opacity: 0.5;
        filter: grayscale(1);
        pointer-events: none;

        &::after {
            position: absolute;
            content: "";
            inset: 0;
            width: 11px;
            height: 14px;
            inset: 0;
            margin: auto;
            background: url("./locked.png");
            background-repeat: none;
            transform: scale(2);
            image-rendering: pixelated;
        }
    }
}

.scene {
    position: absolute;
    inset: 0;
    color: white;
    //background: rgba(0, 0, 255, 0.3);
}

.scene-ctrl {
    //background: red;
    position: absolute;
    inset: 0;

    // 仮想画面
    > .screen {
        position: absolute;
        //background: rgba(0, 0, 255, 0.3);
        transform-origin: 0 0;
    }

    // オーバーレイメニュー用
    > .darkness {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;

    &.off {
        opacity: 0;    
    }

    &.dark {
        filter: brightness(0.5);
    }

    
}

// 利用規約
.term-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
    word-break: break-word;

    .title {
        font-size: 24px;
    }

    ul {
        margin: 24px 8px 24px 0;
    }

    li {
        line-height: 1.5;
        font-family: "Noto Sans JP";
    }
}

// ローディング
.loading-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// エラー表示用シーン
.error-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
    word-break: break-word;
    text-align: center;
}

// タイトル画面
.title-scene {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
    word-break: break-word;

    .title {
        text-shadow: 0 2px 3px black;
        margin-bottom: 16px;

        .face {
            font-size: 84px;
        }

        .de {
            font-size: 20px;
        }

        .moon {
            font-size: 50px;
            color: yellow;
        }

        .challenge {
            line-height: 1.5;
            font-size: 24px;
            color: red;
        }
    }

    .video-style-selector-container {
        margin-top: 16px;
        display: flex;
        width: 220px;
        align-items: center;
    }

    .video-style-selector {
        flex-grow: 1;
        appearance: none;
        box-sizing: border-box;
        height: 48px;
        border: 2px solid white;
        background: black;
        border-radius: 8px;
        color: white;
        text-shadow: 0 2px 3px black;
        font-family: inherit;
        font-size: 20px;
        touch-action: manipulation;
        cursor: pointer;
        padding: 0;
        text-align-last: center;
        text-align: center;
    
        &:focus {
            outline: 0;
        }
    }

    > button {
        margin: 16px 0 32px 0;
    }

    a {
        color: inherit;
    }

    > .copyright {
        
    }

    > .sub-menu {
        display: flex;
        margin-top: 16px;
    }
}

// ステージセレクト
.stage-select-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .title {
        font-size: 32px;
        text-shadow: 0 2px 3px black;
        text-align: center;
        margin-bottom: 32px;
    }

    > button + button {
        margin-top: 16px;
    }
}

// ゲームシーン
.game-scene {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > .debug-text {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        word-break: break-word;
        font-size: 12px;
        color: #00FF00;
    }

    > .energy-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 18px;
        display: flex;
        align-items: center;

        > .energy-label {
            font-size: 12px;
            flex-shrink: 0;
            margin-right: 8px;
        }

        > .energy-bar {
            flex: 1 1 auto;
            border: 1px solid white;
            border-radius: 2px;
            box-sizing: border-box;
            position: relative;
            align-self: stretch;

            > .rect {
                position: absolute;
                content: "";
                left: 0;
                top: 0;

                background: #00FF00;
                width: 100%;
                height: 100%;
            }
        }
    }

    > .ready-text {
        position: absolute;
        inset: 0 0 20px 0;
        display: grid;
        place-content: center;
        font-size: 48px;
        color: white;
        text-shadow: 0 2px 3px black;
    }
}

.game-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.game-over-menu,
.game-clear-menu {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    > .stage {
        font-size: 24px;
        margin-bottom: 16px;
    }

    > .title {
        font-size: 64px;
        text-shadow: 0 2px 3px black;
        text-align: center;
    }

    > .message {
        margin-top: 32px;
        margin-bottom: 80px;
        font-size: 16px;
    }

    > button + button {
        margin-top: 32px;
    }
}

.sound-test-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > button + button {
        margin-top: 8px;
    }
}